
head title {
    display: none;
}
body {
    width: 0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
ul {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #007bff;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
button{
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    height: 879px;
    flex-shrink: 0;
    position: relative;
    display: flex;
}

.header-img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo {
    position: absolute;
    display: flex;
    margin-left: 163px;
    margin-top: 51px;
}

.logo-title {
    color: #313131;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

.logo-text {
    color: var(--Gray-color, #4A5759);
    font-size: 10px;
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
}

.header-nav {
    display: flex;
}

.header-nav-item {
    display: flex;
    gap: 60px;
    list-style: none;
    margin-left: 1066px;
    margin-top: 57px;
}

.item-about,
.item-contact {
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.item-about {
    color: var(--Gray-color, #4A5759);
    text-decoration-line: underline;
}

.item-contact {
    color: #313131;
}

/* Header Nav Icons Styles */
.header-nav-icons {
    list-style: none;
    margin-left: 107px;
    display: flex;
    position: relative;
}

.icons-soc {
    margin-top: 51px;
    list-style: none;
    display: flex;
    margin-left: 43px;
    margin-right: 162px;
    gap: 20px;
}

.icon-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #4A5759;
}

.icon-linkedin,
.icon-twitter {
    fill: #FFF;
}
.header-icons-play{
margin-left: -1150px;
}
.icons-play {
    cursor: pointer;
    display: flex;
    list-style: none;
    margin-top: 388px;
    position: absolute;
}

.icon-play-ellipse {
    border: none;
    border-radius: 50%;
    fill: rgba(241, 241, 241, 0.30);
    stroke-width: 0.701px;
    stroke: rgba(231, 231, 231, 0.30);
    backdrop-filter: blur(7.01022481918335px);
    flex-shrink: 0;
    /* position: relative; */
}

.icon-play-bxs {
    margin-left: 56.1px;
    margin-top: 46.1px;
    fill: #5D737E;
    position: absolute;
    flex-shrink: 0;
    z-index: 2;
}

/* Modal Styles */
.header-select{
    outline-style: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    margin-left: 107px;
    margin-top: 51px;
    padding-left: 20px;
    width: 165px;
    height: 35px;
    flex-shrink: 0;
    background-color: var(--Green, #34E0A1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    /* z-index: -1; */
    clip-path: polygon(0% 0%, 0% 0%, 0% 400%, 100% calc(100% - 38px));
}
.select-container {
    display: flex;
}

.header-icon-polygon {
    margin-top: 73px;
    margin-left: -25px;
    cursor: pointer;
    fill: #FFF;
    width: 23px;
height: 14px;
flex-shrink: 0;
}

.btn-off {
    margin-top: 5px;
    margin-left: 140px;
    cursor: pointer;
    border: none;
    background: none;
    height: 14px;
    width: 23px;
}

/* Hero Styles */
.hero {
    margin-left: 601px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 718px;
    height: 627px;
    gap: 30px 50px;
}

.hero-item {
    display: flex;
    max-width: 300px;
}

.hero-text {
    padding: 0;
    margin: 0;
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--Gray-text, #313131);
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
}

.hero-text-best {
    margin-left: 46.45px;
    margin-top: 21px;
    font-size: 9.625px;
    letter-spacing: 1.1px;
    width: 113.28px;
    height: 15px;
}

.hero-text-finalist {
    margin-left: 77px;
    font-size: 9.969px;
    letter-spacing: 1.1px;
    width: 56.12px;
    height: 15px;
}

.hero-text-carmel {
    margin-left: 66px;
    font-size: 15.938px;
    letter-spacing: 1.7px;
    width: 74.17px;
    height: 23px;
}

.hero-text-inter {
    margin-left: 38.94px;
    font-size: 10.313px;
    letter-spacing: 1.1px;
    width: 128.33px;
    height: 15px;
}

.hero-text-festival {
    margin-left: 77.36px;
    font-size: 9.453px;
    letter-spacing: 1.1px;
    width: 51.47px;
    height: 15px;
}

.hero-text-official {
    margin-top: 40px;
    margin-left: 40.77px;
    width: 126px;
    height: 15px;
    font-size: 10.313px;
    letter-spacing: 1.1px;
}

.hero-text-new {
    margin-left: 51.05px;
    width: 104.09px;
    height: 23px;
    font-size: 17px;
    letter-spacing: 1.7px;
}

.hero-text-latino {
    margin-left: 37.75px;
    width: 130.7px;
    height: 15px;
    font-size: 9.797px;
    letter-spacing: 1.1px;
}

.hero-text-orlando {
    margin-left: 55.8px;
    width: 94.59px;
    height: 23px;
    font-size: 17px;
    letter-spacing: 1.7px;
}

.hero-text-film {
    margin-left: 61.98px;
    width: 83.22px;
    height: 15px;
    font-size: 9.625px;
    letter-spacing: 1.1px;
}

.hero-text-judges {
    margin-top: 40px;
    margin-left: 48.78px;
    width: 114.95px;
    height: 15px;
    font-size: 10.656px;
    letter-spacing: 1.1px;
}

.hero-text-catalina {
    margin-left: 60.09px;
    width: 91.33px;
    height: 23px;
    font-size: 16.469px;
    letter-spacing: 1.7px;
}

.hero-text-maiami {
    margin-left: 70.03px;
    width: 66.12px;
    height: 23px;
    font-size: 17px;
    letter-spacing: 1.7px;
}

.hero-list {
    margin-top: 31px;
    color: var(--Gray-text, #313131);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.hero-image {
    margin-top: 50px;
}


/* -----------sectoin-one----------- */

.sectoin-one {
    width: 1920px;
    height: 775px;
    position: relative;
}

.section-one-image {
    margin-top: -125px;
}

.section-one-content {
    position: absolute;
    top: 0;
    left: 0;
}

.section-one-title {
    margin-left: 785px;
    margin-top: 66px;
    display: flex;
    color: var(--Gray-text, #313131);
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-one-title-mx {
    margin-left: 15px;
    color: var(--Gray-text, #4A5759);
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-one-line {
    margin-left: 782px;
    margin-top: 5px;
    width: 355px;
    height: 3px;
    background: #4A5759;
}

.section-one-text-item {
    display: flex;
}

.section-one-text {
    margin-top: 60px;
    margin-left: 163px;
    width: 731px;
    color: var(--Gray-text, #313131);
    font-size: 24px;
    font-weight: 400;
    line-height: 165%;
}

.section-one-text-two {
    margin-top: 60px;
    margin-left: 250px;
    width: 614px;
    color: var(--Gray-text, #313131);
    font-size: 24px;
    font-weight: 400;
    line-height: 165%;
}

.section-list {
    display: flex;
    margin-top: 57px;
    margin-left: 163px;
}

.list-right {
    margin-left: 630px;
}

.list-text {
    display: flex;
    align-items: center;
    padding: 7px 0;
    color: var(--Gray-text, #313131);
    font-size: 24px;
    font-weight: 600;
    line-height: 165%;
    text-transform: uppercase;
}

.section-one-icon {
    padding-right: 15px;
}

/* -----------sectoin-two---------- */

.sectoin-two {
    margin-left: 163px;
    width: 1595px;
    height: 823px;
    flex-shrink: 0;
    border-radius: 47px;
    background: linear-gradient(108deg, #4A5759 53.37%, rgba(115, 188, 200, 0.93) 94.71%);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10), 0px 8px 8px 0px rgba(0, 0, 0, 0.09), 0px 19px 11px 0px rgba(0, 0, 0, 0.05), 0px 33px 13px 0px rgba(0, 0, 0, 0.01), 0px 52px 14px 0px rgba(0, 0, 0, 0.00);
}

.section-two-content {
}

.section-two-title {
    padding-top: 30px;
    text-align: center;
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-two-line {
width: 191px;
height: 3px;
background: #FFF;
margin: 0 auto;
}
.secnion-two-item {
    display: flex;
}

.section-two-text {
    margin-top: 34px;
    margin-left: 20px;
    width: 763px;
    color: #FFF;
font-size: 24px;
font-weight: 400;
line-height: 165%; /* 39.6px */

}

.section-two-image {
width: 808.282px;
}

/* ---------footer-------- */

.footer {
    width: 1920px;
}
.footer-title {
    text-align: center;
    margin-top: 60px;
color: var(--Gray-text, #313131);
font-size: 52px;
font-weight: 900;
letter-spacing: 5.2px;
}
.footer-icons-right {
    display: flex;
    flex-direction: column;
    margin-left: 1703px;
    margin-top: -63px;
}
.footer-icon-vector {
    width: 49.321px;
height: 30.14px;
flex-shrink: 0;
fill: var(--Gray-color, #4A5759);
}
.footer-icons-vector-text {margin-left: 10px;
    margin-top: 12px;
    color: var(--Gray-text, #313131);
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.footer-input-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    max-width: 515px;
    margin: 0 auto;
    flex-direction: column;
  }
.label-text {
    margin-left: 20px;
    padding-top: 10px;
    color: var(--Gray-text, #313131);
    font-size: 20px;
    font-weight: 300;
}
.message{
    margin-top: 90px;
}
.lable-star {
    color: var(--Gray-text, #594a4a);
font-size: 20px;
font-weight: 300;
}
.footer-input {
    padding-left: 10px;
    border: none;
    outline: none;
}

.footer-line {
    width: 515px;
height: 2px;
background: #313131;
margin-bottom: 56px;
}
.checkbox-container{
    display: inline-flex;
    align-items: center;
    margin-left: 73px;
    margin-top: -21px;
    margin-bottom: 51px;
}
.input-checkbox {
    margin-right: 10px;
    width: 18px;
height: 18px;
flex-shrink: 0;
border-radius: 6px;
border: 1px solid var(--Gray-text, #313131);
}
.input-checkbox-text {
    color: var(--Gray-text, #313131);
font-size: 16px;
font-weight: 300;
}
.footer-buttom {
    cursor: pointer;
    margin-left: 179px;
    width: 156px;
height: 55px;
flex-shrink: 0;
border-radius: 16px;
background: var(--Gray-color, #4A5759);
backdrop-filter: blur(12.5px);
color: #FFF;
font-size: 24px;
font-weight: 700;
}
.footer-contacts {
    margin-top: 103px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-contacts-text {
    margin-left: 298px;
    color: var(--Gray-text, #313131);
font-size: 20px;
font-weight: 300;
text-transform: uppercase;
}
.footer-icons-soc {
    gap: 25px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-icon-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #4A5759;
}
.icon-linkedin, 
.icon-twitter {
    fill: #FFF;
}
.footer-mailco {
    margin-top: -20px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}
.footer-icon-mailco {
    fill: var(--Gray-color, #4A5759);
    width: 30px;
height: 24px;
flex-shrink: 0;
    margin-left: 436px;
    margin-right: 20px;
}
.footer-text-mailco {
    color: var(--Gray-text, #313131);
    font-size: 24px;
    font-weight: 300;
}